.app {
  display: grid;
  grid-template-rows: 4em calc(100vh - 4em);
  background: #333;
  padding: 0;
  margin: 0;
}

header{
  background-color: #111;
  border-bottom: 1px solid mediumaquamarine;
  height: 2em;
  padding: 1em;
}

header h1{
  font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2em;
  color: lightblue;
  text-align: center;
  margin: 0;
}

header span{
  color: mediumseagreen;
}

.page{
  padding-top: 1em;
  display: grid;
  grid-template-columns: 9em calc(100% - 20em) 11em;
}

.tools{
  background-color: dimgray;
  display: grid;
  grid-template-rows: 13em auto;
  grid-gap: 2em;
}

.drawing{
  display: grid;
  grid-template-columns: 50% 50%;
}

.additional-tools{
  background-color: dimgray;
  display: grid;
  grid-template-rows: 9em 2em calc(100% - 11em);
}

.additional-tools canvas{
  display: block;
  margin: 1em auto;
}

.additional-tools .info{
  color: #FFF;
  font-weight: 600;
  text-align: center;
}

.additional-tools #origin{
  display: none;
}

.tool-btn{
  background: mediumturquoise;
  border-radius: 5px;
  border: none;
  display: block;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  height: 2.5em;
  line-height: 2.5em;
  margin: 0.5em;
  text-align: center;
  width: 2.5em;
}

.tool-btn .big{
  font-size: 2em;
  height: 3.5em;
  line-height: 3.5em;
}

.info[data-descr] {
    position: relative;
    color: white;
}

.info[data-descr]:hover::after {
  background-color: #ffffcc;
  border-radius: 10px;
  border: 1px #aaaaaa solid;
  color: #000000;
  content: attr(data-descr);
  font-size: 14px;
  line-height: 1.5em;
  min-width: 400px;
  padding: 12px;
  position: absolute;
  right: 0;
  top: 3.5em;
  white-space: pre;
  word-wrap: break-word;
  z-index: 1;
}

.info a{
  color: white;
}

.active{
  border: 2px solid whitesmoke;
  box-sizing: border-box;
  cursor: pointer;
}

canvas{
  border: 1px solid #464646;
  background: linear-gradient(to right, #464646 1px, transparent 1px), linear-gradient(to bottom, #464646 1px, transparent 1px);
}

.cover{
  margin: 0 auto;
}

.sketch-picker{
  background-color: dimgray !important;
}